<div class="container">
    <div class="row">
        <div class="col-md-6">
            <mat-card class="example-card mt-5">
                <mat-card-header>
                    <mat-card-title>{{userObj.fname}}</mat-card-title>
                </mat-card-header>
                <mat-card-footer>
                </mat-card-footer>
            </mat-card>

            <!-- <button class="btn btn-warning mt-3" [routerLink]="['/users','bebbdjyje']">change user</button> -->

            <button class="btn btn-primary mt-3 ml-3" [routerLink]="['/users',userObj.uid,'edit']"
                [queryParamsHandling]="'preserve'">edit user</button>

            <button class="btn btn-danger mt-3 ml-3" (click)="onDeleteHnadler(userObj.uid)">delete user</button>
        </div>
    </div>
</div>